main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222222;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #222222;
}

#title {
    border-bottom: #222222 1px solid;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: #222222 1px solid;
    width: 100%;
    background-color: #008079;
    margin: 1rem;
    min-height: 10rem;
    border-radius: 5px 5px 5px 5px;
}

.inputs-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 1rem;
}

#editor-container {
    width: 50%;
    background-color: white;
}
