main {
    background-color: #008079;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111111;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: black 1px solid;
    width: 75%;
}

.inputs-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 1rem;
}